#webgl-canvas {
    position: absolute;
    top: 22px;
    left: 40px;
    height: calc(100% - 22px);
    width: calc(100% - 40px);
    z-index: 2;
}

#axes-canvas {
    position: absolute;
    top: 0;
    left: 0;
}
