:root{
    --icon-width: 20px;
    --icon-height: 20px;
}

#filters-main-handle{
    width: 360px;
    margin: auto;
    margin-bottom: 20px;
    height: var(--draw-handle-height);
}

#partial-apply-filters-button{
    margin-top: 12px;
    margin-bottom: 12px;
}

#full-apply-filters-button{
    margin-top: 12px;
    margin-bottom: 12px;
}

#filters-main-handle > select{
    display: inline;
    width: 170px;
    height: 25px;
    font-size: 14px;
    margin-left: 8px;
}

#filters-main-handle > label{
    display: inline;
}

#add-edit-filters-buttons{
    display: inline-block;
    position: absolute;
    right: 25px;
}

.filter-wrapper-div{
    width: 360px;
    margin: auto;
    margin-top: 20px;
}

.filter-header{

}

.filter-settings{
    //display:none;
    margin-top: 10px;
}

.filter-name-div{
    display: inline-block;;
}

.filter-handle-div{
    display: inline-block;
    position: absolute;
    right: 25px;
}

.filters-button{
    box-sizing: border-box;
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    text-align: center;
}

.filters-button:hover{
    cursor: pointer;
}

.filters-button-icon{
    height: var(--icon-height);
    width: var(--icon-width);
}

.filter-settings-button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
}

.filter-settings-button:hover{
    cursor: pointer;
}

.filter-settings-button-icon{
    height: var(--icon-height);
    width: var(--icon-width);
}

.filter-remove-button{
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
}

.filter-remove-button:hover{
    cursor: pointer;
}

.filter-remove-button-icon{
    height: var(--icon-height);
    width: var(--icon-width);
}

.filter-settings-table {
    //border: 1px solid black;
}
