:root{
    --main-background-color: rgb(88, 154, 166);
    --header-width: 100%;
    --heder-height: 60px;
    --form-background-color: rgba(88, 154, 166, 0.3);
    --form-width: 330px;
    --form-height: 162px;
    --button-hover-background-color: rgba(88, 154, 166, 0.8);
    --form-input-width: 250px;
    --form-input-height: 30px;
    --form-button-width: 100px;
    --form-button-height: 30px;
}

body{
    margin: 0;
}

#header-div{
    background-color: var(--main-background-color);
    height: var(--heder-height);
    width: var(--header-width);
    font-family: sans-serif;
    color: white;
    font-size: 40px;
}


#logo{
    position: absolute;
    top:10px;
    left:20px;
}

#login-form-div{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    min-height: var(--form-height);
}

#login-form{
    height: var(--form-height);
    width: var(--form-width);
    background-color: var(--form-background-color);
    padding-top: 30px;
}

.input{
    height: var(--form-input-height);
    width: var(--form-input-width);
    margin-left: calc((var(--form-width) - var(--form-input-width))/2);
    margin-bottom: 20px;
    text-align: center;
    border: 0;
}

#login-button{
    position: relative;
    left: calc(var(--form-width) - calc((var(--form-width) - var(--form-input-width))/2) - var(--form-button-width));
    height: var(--form-button-height);
    width: var(--form-button-width);
    margin: auto;
    background-color: var(--main-background-color);
    border: 0;
    letter-spacing: 1px;
    user-select: none;
    outline: none;
}

#login-button:hover{
    cursor: pointer;
    background-color: var(--button-hover-background-color);
}