#tree-div-wrapper{
    background-color: rgb(237,238,240);
    width: calc(100% - 2px);
    position: absolute;
    z-index: 40;
    height: calc(100% - var(--header-height) - 2px);
    top: 60px;
    border: 1px solid var(--add-file-border);
    min-width: 1000px;
}

#tree-div{
    display: inline-block;
    width: 29%;
    height: calc(100% - 20px);
    position: absolute;
    left:10px;
    top: 10px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    min-width: 300px;
}

#tree-information{
    display: inline-block;
    width: calc(70% - 12px);
    height: calc(100% - 20px);
    position: absolute;
    right:10px;
    top: 10px;
    background-color: white;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    min-width: 700px;
}

.tree-control-button{
    box-sizing: border-box;
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tree-control-button:hover{
    cursor: pointer;
}

.tree-control-button-icon{
    height: 30px;
    width: 30px;
}