:root {
    --main-background-color: rgb(88, 154, 166);
    //--draw-handle-btns-color: rgb(123, 187, 198);
    --draw-handle-btns-color: rgb(147, 203, 214);
    --header-width: 100%;
    --header-height: 60px;
    //--control-div-backgroumd-color: rgb(185, 222, 229);
    --control-div-backgroumd-color: rgb(234, 249, 252);
    --border-color: rgb(207, 210, 216);
    --add-file-border: rgb(198,238,247);
    --picture-div-height: 600px;
    --draw-handle-height: 90px;
    --seis-information-height: 90px;
}

body{
    margin: 0;
    font-family:sans-serif;
    background-color: rgb(237,238,240);
}
header {
    background-color: var(--main-background-color);

    height: var(--header-height);
    width: var(--header-width);
    min-width: 1000px;
}

#blackout{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    background-color: rgba(255,255,255,0.5);
}

#draw-handle-wrapper{
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    //width:75%;
    width: calc(100% - 430px);
    min-width: 768px;
    height: var(--draw-handle-height);
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

#draw-handle{
    width: 99%;
    margin: auto;
    height: var(--draw-handle-height);
}


#picture-div {
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    display: block;
    height: var(--picture-div-height);
    //width: 75 %;
    width: calc(100% - 430px);
    min-width: 768px;
    position: relative;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

#seis-information{
    background-color: white;
    margin-top: 10px;
    margin-left: 10px;
    width: calc(100% - 430px);
    min-width: 768px;
    height:var(--seis-information-height);
    box-sizing: border-box;
    border: 1px solid var(--border-color);
}

#filters-div-wrapper{
    background-color: rgb(237,238,240);
    position: absolute;
    top: calc(var(--header-height) + 10px);
    right: 0;
    width: 410px;
    height: calc(var(--draw-handle-height) + var(--picture-div-height) + var(--seis-information-height) + 20px);
    z-index:30;
}

#filters-div{
    background-color: white;
    width: 400px;
    height: calc(var(--draw-handle-height) + var(--picture-div-height) + var(--seis-information-height) + 20px);;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    font-size: 15px;
}

#logo{
    position: absolute;
    top: 7px;
    left: 1%;
    font-family: sans-serif;
    color: white;
    font-size: 40px;
}

#tree-button{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    color: white;
    font-size: 15px;
}

#show-tree-button{
    float: right;
    margin-right: 240px;
    margin-top: 5px;
}

#show-tree-button:hover{
    cursor: pointer;
}

#personal-information-button{
    margin-top: 12px;
    float: right;
    margin-right: 90px;
}

#personal-information-button:hover{
    cursor: pointer;
}

#personal-information{
    background-color: var(--control-div-backgroumd-color);
    display: none;
    width: 200px;
    z-index: 100;
    position:absolute;
    top: 60px;
    right: 10px;
    border: 1px solid var(--add-file-border);
}

/*#tree-div{
    background-color: var(--control-div-backgroumd-color);
    display: none;
    width: 220px;
    position: absolute;
    z-index: 99999;
    right: 210px;
    top: 60px;
    border: 1px solid var(--add-file-border);
}

.tree-control-button{
    width: 100px;
    height: 25px;
    margin-top: 6px;
    margin-left: 5px;
    margin-bottom: 10px;
    background-color: var(--draw-handle-btns-color);
    border:0;
    text-align: center;
}

.tree-control-button:hover{
    cursor: pointer;
    background-color: rgba(147, 203, 214, 0.8);
}*/

.personal-info-control-button {
    width: 100px;
    height: 25px;
    margin-top: 6px;
    margin-left: 50px;
    margin-bottom: 10px;
    background-color: var(--draw-handle-btns-color);
    border:0;
    text-align: center;
}

.personal-info-control-button:hover{
    cursor:pointer;
    background-color: rgba(147, 203, 214, 0.8);
}

#jstree-handle-add-directory{
    background-color: var(--control-div-backgroumd-color);
    height: 150px;
    width: 30%;
    min-width: 400px;
    position: absolute;
    top: 200px;
    left: 35%;
    z-index: 99999;
    font-size: 15px;
    border: 1px solid var(--add-file-border);
}

#jstree-handle-add-sesmogram{
    background-color: var(--control-div-backgroumd-color);
    height: 200px;
    width: 30%;
    min-width: 400px;
    position: absolute;
    top: 200px;
    left: 35%;
    z-index: 99999;
    font-size: 15px;
    border: 1px solid var(--add-file-border);
}

.jstree-handle-table{
    margin: auto;
    margin-top: 7px;
}

.jstree-handle-button{
    width:70px;
    height:25px;
    margin-top: 15px;
    background-color: var(--draw-handle-btns-color);
    border:0;
    text-align: center;
    position: relative;
    left: calc(100% - 70px);
}

.jstree-handle-button:hover{
    cursor:pointer;
    background-color: rgba(147, 203, 214, 0.8);
}

.draw-handle-button{
    width: 80px;
    height: 25px;
    margin-top: 12px;
    margin-right: 7px;
    background-color: var(--draw-handle-btns-color);
    border:0;
    text-align: center;
}

.draw-handle-button:hover{
    cursor:pointer;
    background-color: rgba(147, 203, 214, 0.8);
}

#jstree{
    font-size: 15px;
}

#seis-information-table{
    display: inline-block;
    margin-left: 0.5%;
    margin-top: 5px;
    background-color: var(--draw-handle-btns-color);
}

.seis-information-table-td{
    cursor: hand;
    text-align: center;
    width: 50px;
    height: 23px;
    background-color: var(--control-div-backgroumd-color);
}

.form-name{
    padding-bottom: 5px;
    padding-left: 10px;
    color: var(--main-background-color);
    font-size: 17px;
    margin: auto;
    margin-top: 20px;
    border-bottom: 1px solid var(--add-file-border);
}

.invisible
{
    display: none;
}

.visible
{
    display: block;
}
